0. Imports

In [ ]:
import pandas as pd

1. Load csv

In [ ]:
csvFile = pd.read_csv('/content/drive/MyDrive/Škola/WM/cistenie_dat_I/log_jeden_den.csv', ';')
csvFile

                  ip user userid  ...   bytes referrer         useragent
0       193.87.12.30    -      -  ...    7584        -                 -
1       193.87.12.30    -      -  ...    7584        -                 -
2       193.87.12.30    -      -  ...    7584        -                 -
3       193.87.12.30    -      -  ...    7584        -                 -
4       193.87.12.30    -      -  ...   20925        -  libwww-perl/6.08
...              ...  ...    ...  ...     ...      ...               ...
257122  193.87.12.30    -      -  ...    7584        -                 -
257123  193.87.12.30    -      -  ...  152207        -  libwww-perl/6.08
257124  193.87.12.30    -      -  ...  152191        -  libwww-perl/6.08
257125  193.87.12.30    -      -  ...    7584        -                 -
257126  193.87.12.30    -      -  ...    7584        -                 -

[257127 rows x 9 columns]

2. Arrays

In [ ]:
request = ['HEAD', 'POST']
suffix = ['.bmp','.jpg','.jpeg','.png','.gif','.JPG','.css','.flv','.ico','.swf','.rss','.xml','.cur','.js','.json','.svg','.svg','.woff','.eot']

3. Check dataframe

In [ ]:
csvFile = csvFile[~csvFile.url.str.contains('|'.join(suffix))]
csvFile = csvFile[~csvFile.req_code.astype(str).str.match(r'1* | 4* | 5* ')]
csvFile = csvFile[~csvFile.url.str.contains('|'.join(request))]

4. Save to csv

In [ ]:
csvFile.to_csv('Laca_cistenie_dat_I.csv', sep=';')